.topappbar {
    background-color: green;
    color: #fff;
    font-family: "Arial";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    height: 60px;

}

.topappbar-icon {
    img {
        padding: 0;
        width: 50px;
        height: 50px;
    }
}
