.popup {
    width: 30%;
    height: 20%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    z-index: 100;
    background-color: white;
    box-shadow: 0 4px 8px 0 #C0C0C0, 0 6px 20px 0 #C0C0C0;
    padding: 30px;
    position: absolute;
    top: 40%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    button {
        background-color: green;
        color: white;
    }
    button:hover {  
        background-color: #00A500;
    }

}

.visible {
    visibility: visible;
    opacity: 1
}

.invisible {
    
    visibility: hidden;
    opacity: 0;
}